{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Beauty & Health - Meesho Clone</title>
  <link rel="stylesheet" href="{% static 'css/bags.css' %}" />
</head>
<body>
  <header>
    <h1>Bags</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="{% static 'img/handbag.webp' %}" alt="Women handbag">
      <h3>Women handbag</h3>
      <p>₹182</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Clutches.webp' %}" alt="Clutches">
      <h3>Clutches</h3>
      <p>₹258</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/slingbags.webp' %}" alt="slingbags">
      <h3>slingbags</h3>
      <p>₹507</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Toothbrush case.webp' %}" alt="Toothbrush case">
      <h3>Toothbrush case</h3>
      <p>₹134</p>
      <button>Add to Cart</button>
    </div>  
    <div class="product-card">
      <img src="{% static 'img/primer.webp' %}" alt="primer">
      <h3>Primer</h3>
      <p>₹141</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/protein powder.webp' %}" alt="protein powder">
      <h3>protein powder</h3>
      <p>₹271</p>
      <button>Add to Cart</button>
    </div> 
    <div class="product-card">
      <img src="{% static 'img/Makeup brushes.webp' %}" alt="Makeup brushes">
      <h3>Makeup brushes</h3>
      <p>₹153</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Bp monitor.webp' %}" alt="Bp monitor">
      <h3>Bp monitor</h3>
      <p>₹449</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Baby blanket.webp' %}" alt="baby blanket">
      <h3>Baby blanket</h3>
      <p>₹505</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/face roller.webp' %}" alt="Face roller">
      <h3>Face roller</h3>
      <p>₹92</p>
      <button>Add to Cart</button>
    </div>  
    <div class="product-card">
      <img src="{% static 'img/Artificial nails.webp' %}" alt="Artificial nails">
      <h3>Artificial nails</h3>
      <p>₹155</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Ear cleaner.webp' %}" alt="Ear cleaner">
      <h3>Ear cleaner</h3>
      <p>₹88</p>
      <button>Add to Cart</button>
    </div>     
  </section>
</body>
</html>
