<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Women Ethnic - Meesho Clone</title>
  <link rel="stylesheet"   href="ethnic.css" />
</head>
<body>
  <header>
    <h1>Women Ethnic</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="lehnga1.webp" alt="Lipstick">
      <h3>Women's Trending Designeer Tussar Silk Lehenga Choli</h3>
      <p>₹1990</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="lehnga2.webp" alt="Cleansers">
      <h3>Rani Pink Floral Lehenga Choli with Foil Print & Gotta Patti Dupatta
        </h3>
      <p>₹2100</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="kurti1.webp" alt="beardoil">
        <h3>Embroidry Kurti</h3>
        <p>₹520</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="lehnga3.webp" alt="Toothbrush case">
        <h3>New Arrival Latest Rich look Dola Slk Mill Printed Silk Lehenga Choli</h3>
        <p>₹1100</p>
        <button>Add to Cart</button>
      </div>  
    <div class="product-card">
        <img src="black saaree.webp" alt="primer">
        <h3>silk premium saare</h3>
        <p>₹700</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="kurta set1.webp" alt="protein powder">
        <h3>Womens Beautiful Rayon Aliya Cut Embroidered Kurti With Pant and Dupatta Set</h3>
        <p>₹900</p>
        <button>Add to Cart</button>
      </div> 
    <div class="product-card">
        <img src="kurtaset2.webp" alt="Makeup brushes">
        <h3>Bandhani Print kurta set</h3>
        <p>₹453</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="saaree1.webp" alt="Bp monitor">
        <h3>Coffee Lycra Blend Saree With Blouse</h3>
        <p>₹449</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
          <img src="saaree2.webp" alt="baby blanket">
          <h3>Manish Sir Designer Rich Look Saree</h3>
          <p>₹505</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="silk saaree.webp" alt="Face roller">
          <h3>Banarasi gold Tishu Silk Saree</h3>
          <p>₹920</p>
          <button>Add to Cart</button>
        </div>  
      <div class="product-card">
          <img src="saaree3.webp" alt="Artificial nails">
          <h3>Trending Woven Banarasi Silk Saree With Blouse</h3>
          <p>₹1505</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="kurta set 3.webp" alt="Ear cleaner">
          <h3>Bandhani Print kurta set
          </h3>
          <p>₹808</p>
          <button>Add to Cart</button>
        </div>     
  </section>
</body>
</html>