{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kids - Meesho Clone</title>
  <link rel="stylesheet" href="{% static 'css/electronics.css' %}" />
</head>
<body>
  <header>
    <h1>Kids</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="{% static 'img/1K.jpg' %}" alt="KIDS SHARARA SUIT">
      <h3>KIDS SHARARA SUIT</h3>
      <p>₹2999</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/2.jpg' %}" alt="LONG GOWN">
      <h3>LONG GOWN</h3>
      <p>₹1899</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/3.jpg' %}" alt="SHORT DRESS">
      <h3>SHORT DRESS</h3>
      <p>₹849</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/4.jpg' %}" alt="BROWN SHORTS">
      <h3>BROWN SHORTS</h3>
      <p>₹999</p>
      <button>Add to Cart</button>
    </div>  
    <div class="product-card">
      <img src="{% static 'img/5.jpg' %}" alt="KHADI COTTON COORD-SET">
      <h3>KHADI COTTON COORD-SET</h3>
      <p>₹1500</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/6.jpg' %}" alt="KURTI PAJAMI">
      <h3>KURTI PAJAMI</h3>
      <p>₹3500</p>
      <button>Add to Cart</button>
    </div> 
    <div class="product-card">
      <img src="{% static 'img/7.jpg' %}" alt="PINK PALAZZO SET">
      <h3>PINK PALAZZO SET</h3>
      <p>₹2500</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/8.jpg' %}" alt="WHITE LEHENGA">
      <h3>WHITE LEHENGA</h3>
      <p>₹3999</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/9.jpg' %}" alt="PARTY WEAR COAT PANT">
      <h3>PARTY WEAR COAT PANT</h3>
      <p>₹5000</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/10.jpg' %}" alt="PINK GOWN">
      <h3>PINK GOWN</h3>
      <p>₹3500</p>
      <button>Add to Cart</button>
    </div>  
    <div class="product-card">
      <img src="{% static 'img/11.jpg' %}" alt="BOYS COORD-SET">
      <h3>BOYS COORD-SET</h3>
      <p>₹1999</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/12.jpg' %}" alt="GIRLS TIE-UP COORD">
      <h3>GIRLS TIE-UP COORD</h3>
      <p>₹2999</p>
      <button>Add to Cart</button>
    </div>     
  </section>
</body>
</html>
