{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home and Kitchen - Meesho Clone</title>
  <link rel="stylesheet" href="{% static 'css/kitchen.css' %}" />
</head>
<body>
  <header>
    <h1>Home and kitchen</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="{% static 'img/glass.webp' %}" alt="Water glass">
      <h3>Water glass</h3>
      <p>₹294</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="{% static 'img/Baking trays.webp' %}" alt="Baking trays">
      <h3>Baking trays</h3>
      <p>₹159</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/spice racks.webp' %}" alt="spice racks">
        <h3>spice racks</h3>
        <p>₹196</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/bedsheet.webp' %}" alt="bedsheet">
        <h3>bedsheet</h3>
        <p>₹528</p>
        <button>Add to Cart</button>
    </div>  
    <div class="product-card">
        <img src="{% static 'img/haircaps.webp' %}" alt="haircaps">
        <h3>haircaps</h3>
        <p>₹80</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/clocks.webp' %}" alt="clocks">
        <h3>clocks</h3>
        <p>₹983</p>
        <button>Add to Cart</button>
    </div> 
    <div class="product-card">
        <img src="{% static 'img/showpieces.webp' %}" alt="showpieces">
        <h3>showpieces</h3>
        <p>₹108</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/Gardening Tools.webp' %}" alt="Gardening Tools">
        <h3>Gardening Tools</h3>
        <p>₹401</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/pans.webp' %}" alt="pans">
        <h3>pans</h3>
        <p>₹206</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/Drain strainer.webp' %}" alt="Drain strainer">
        <h3>Drain strainer</h3>
        <p>₹84</p>
        <button>Add to Cart</button>
    </div>  
    <div class="product-card">
        <img src="{% static 'img/insect repellent.webp' %}" alt="insect repellent">
        <h3>insect repellent</h3>
        <p>₹347</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="{% static 'img/coffin trolleys.webp' %}" alt="coffin trolleys">
        <h3>coffin trolley</h3>
        <p>₹943</p>
        <button>Add to Cart</button>
    </div>     
  </section>
</body>
</html>
