<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Men - Meesho Clone</title>
  <link rel="stylesheet" href="ethnic.css" />
</head>
<body>
  <header>
    <h1>Men</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="men1.webp" alt="Lipstick">
      <h3>Imported Popcorn Stylish Shirts For Men</h3>
      <p>₹999</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="jacket.webp" alt="Cleansers">
      <h3>Little Cost ® Mens Leather Biker/Biker Jacket black</h3>
      <p>₹799</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="men2.webp" alt="beardoil">
        <h3>Men Slim Fit Self Design Spread Collar Casual Shirt</h3>
        <p>₹455</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="sweatshirt.webp" alt="Toothbrush case">
        <h3>Anime Hoodies for mens </h3>
        <p>₹1034</p>
        <button>Add to Cart</button>
      </div>  
    <div class="product-card">
        <img src="menkurta.webp" alt="primer">
        <h3>Men's Full sleeve Formal Cotton Kurta And Pajama</h3>
        <p>₹941</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="trouser.webp" alt="protein powder">
        <h3>Pesado Black Trouser For Men's Pants</h3>
        <p>₹771</p>
        <button>Add to Cart</button>
      </div> 
    <div class="product-card">
        <img src="menkurtaset.webp" alt="Makeup brushes">
        <h3>Kurta & Pyjama set for men</h3>
        <p>₹553</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="men3.webp" alt="Bp monitor">
        <h3>Graphic Print T-Shirt | Men Printed Round Neck Polyester Black T-Shirt</h3>
        <p>₹449</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
          <img src="men4.webp" alt="baby blanket">
          <h3>Imported Popcorn Stylish Shirts For Mens</h3>
          <p>₹505</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="men5.webp" alt="Face roller">
          <h3>Men’s Essential Lounge & Outdoor Wear Shorts – Soft & Durable</h3>
          <p>₹599</p>
          <button>Add to Cart</button>
        </div>  
      <div class="product-card">
          <img src="men7.webp" alt="Artificial nails">
          <h3>Baggy Jeans For Men</h3>
          <p>₹1055</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="men6.webp" alt="Ear cleaner">
          <h3>CARGO SHORTS</h3>
          <p>₹280</p>
          <button>Add to Cart</button>
        </div>     
  </section>
</body>
</html>