<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>women western - Meesho Clone</title>
  <link rel="stylesheet" href="ethnic.css" />
</head>
<body>
  <header>
    <h1>women western</h1>
    <input type="text" placeholder="Search products..." />
  </header>

  <section class="product-grid">
    <div class="product-card">
      <img src="shorts1.webp" alt="Lipstick">
      <h3>WOMENS SHORTS</h3>
      <p>₹399</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="jeans.webp" alt="Cleansers">
      <h3>ICE BLUE DENIM WIDE LEG DENIM JEANS</h3>
      <p>₹299</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="jeans2.webp" alt="beardoil">
        <h3>Women High Waist Flap Pocket Denim Jeans</h3>
        <p>₹441</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="tshirt1.webp" alt="Toothbrush case">
        <h3>Over Size Title : T-shirt | Tshirt |Baggy T-shirts | Oversized Tshirt | Women Tshirt | Printed Tshirt </h3>
        <p>₹334</p>
        <button>Add to Cart</button>
      </div>  
    <div class="product-card">
        <img src="tshirt.webp" alt="primer">
        <h3>DHOISE TSHIRT FOR BUTTERFLY PATTERN</h3>
        <p>₹241</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
        <img src="skirt2.webp" alt="protein powder">
        <h3>OOMPH Women's Floral A-line Blue Skirts</h3>
        <p>₹271</p>
        <button>Add to Cart</button>
      </div> 
    <div class="product-card">
        <img src="dresses.webp" alt="Makeup brushes">
        <h3>Printed Designer Dresses</h3>
        <p>₹553</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="tshirt2.webp" alt="Bp monitor">
        <h3>Stylish Printed Oversized Women's T-shirt</h3>
        <p>₹449</p>
        <button>Add to Cart</button>
      </div>
      <div class="product-card">
          <img src="blackskirt.webp" alt="baby blanket">
          <h3>Mini Pencil Black Skirt For Woman With Stone</h3>
          <p>₹505</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="top2.webp" alt="Face roller">
          <h3>Women Casual Wear Square neck half sleeve crop top</h3>
          <p>₹209</p>
          <button>Add to Cart</button>
        </div>  
      <div class="product-card">
          <img src="skirt1.webp" alt="Artificial nails">
          <h3>Trendy Stylish Side Cut Cotton Black Skirt For Women</h3>
          <p>₹155</p>
          <button>Add to Cart</button>
        </div>
      <div class="product-card">
          <img src="top1.webp" alt="Ear cleaner">
          <h3>Modern Classic Puff Style Full Sleeve Crop Top</h3>
          <p>₹880</p>
          <button>Add to Cart</button>
        </div>     
  </section>
</body>
</html>